* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.main-nav {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  height: 10vh;
  z-index: 1;
}
a {
  text-decoration: none;
  color: black;
}
.nav {
  padding: 15px;
  position: relative;
  /* top: -10.5px; */
  display: flex;
  justify-content: space-between;
}
.nav-1 {
  margin-left: 4%;
}
.sub_nav {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.nav-2,
.nav-3,
.nav-4 > a {
  letter-spacing: 2px;
  font-size: 20px;
}

b {
  background-color: black;
  color: antiquewhite;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.main-1 {
  position: relative;
}
.child-1 {
  position: relative;
  display: inline-block;
}
.subchild-1 {
  background-color: rgba(91, 90, 90, 0.7);
  color: white;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 40%;
  font-size: 50px;
  padding: 10px;
}
.subchild-2 {
  color: aliceblue;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 47%;
  font-size: 50px;
  padding: 10px;
  letter-spacing: 4px;
}
.navchild {
  letter-spacing: 3px;
  font-size: 20px;
}
/* main-nav,a,nav,nav-1,nav-2,nav-3,nav-4,b,main-1,child-1,subchild-1,subchild-2 */
/* projects */
.main-2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 20px;
}
.child5,
.child2,
.child3,
.child4 {
  position: relative;
  display: inline-block;
  margin-left: 3.6%;
  margin: 10px;
}
.subchild-3 {
  background-color: black;
  color: aliceblue;
  position: absolute;
  z-index: 0;
  top: 0px;
  padding: 10px;
}
/* main-2,child2,child3,child4,child5,subchild-3,h1 */
/* About */
.subchild-4 {
  margin: 20px;
  font-size: 15px;
  letter-spacing: 1.2px;
}
/* main-nav,a,nav,nav-1,nav-2,nav-3,nav-4,b,main-1,child-1,subchild-1,subchild-2 */
/* main-2,child2,child3,child4,child5,subchild-3,h1 */

.child6 {
  font-size: 20px;
}
.child7 {
  font-size: 20px;
}
.main-3 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 20px;
}
.submain-3 {
  margin: 10px;
}
.child8 {
  width: 100%;
  padding: 10px;
}
input {
  width: 90%;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
}
.sub-contact {
  margin: 20px;
  padding: 10px;
  font-size: 20px;
}

footer {
  text-align: center;
  background-color: black;
  color: #fff;
  padding: 10px;
}
.main-4 {
  margin-left: 10%;
}
.nav-5 {
  visibility: hidden;
  display: none;
}
@media screen and (width<576px) {
  .sub_nav {
    justify-content: end;
  }
  .nav-5 {
    visibility: visible;
    display: inline;
  }
  .nav-2 {
    visibility: hidden;
    display: none;
  }
  .nav-3 {
    visibility: hidden;
    display: none;
  }
  .nav-4 {
    visibility: hidden;
    display: none;
  }
  .subchild-1 {
    background-color: rgba(91, 90, 90, 0.7);
    color: white;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 40%;
    font-size: 100%;
    padding: 10px;
  }
  .subchild-2 {
    color: aliceblue;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 47%;
    font-size: 100%;
    padding: 10px;
    letter-spacing: 4px;
  }
  .main-2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
  }
  .main-3 {
    display: grid;
    grid-template-columns: auto;
    margin: 20px;
  }
}
@media screen and (width>576px) and (width<768px) {
  .sub_nav {
    justify-content: end;
  }
  .nav-5 {
    visibility: visible;
    display: inline;
  }
  .nav-2 {
    visibility: hidden;
    display: none;
  }
  .nav-3 {
    visibility: hidden;
    display: none;
  }
  .nav-4 {
    visibility: hidden;
    display: none;
  }
  .subchild-1 {
    background-color: rgba(91, 90, 90, 0.7);
    color: white;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 40%;
    font-size: 100%;
    padding: 10px;
  }
  .subchild-2 {
    color: aliceblue;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 47%;
    font-size: 100%;
    padding: 10px;
    letter-spacing: 4px;
  }
  .main-2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
  }
  .main-3 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
  }
}
